<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            MyPage
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <p>flask - webpage</p>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class = flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
            {% block content %} 
            {% endblock %}
    </body>
</html>